<plugin name='groovy-template-asset-pipeline' version='0.1' grailsVersion='2.3.6 &gt; *'>
  <author>Ted Naleid</author>
  <authorEmail>contact@naleid.com</authorEmail>
  <title>Groovy Template Asset Pipeline Plugin</title>
  <description>Provides Groovy Template support (including Grails Config access) to asset pipeline js/css files</description>
  <documentation>http://github.com/tednaleid/groovy-template-grails-asset-pipeline</documentation>
  <type>GroovyTemplateAssetPipelineGrailsPlugin</type>
  <resources />
</plugin>